streamlit
streamlit-aggrid
upstox-python-sdk
sqlalchemy~=2.0.41
altair~=5.5.0
kiteconnect~=5.0.1
pyotp~=2.9.0
schedule~=1.2.2
numpy~=2.2.6
pandas~=2.3.0
yfinance
plotly~=6.1.2
openpyxl~=3.1.5
seaborn~=0.13.2
matplotlib~=3.10.3
statsmodels~=0.14.4
scipy~=1.15.3
dotenv~=0.9.9
python-dotenv~=1.1.0
joblib~=1.5.1
backtesting~=0.6.5
requests~=2.32.3
openchart~=0.1.0
nsepython~=2.97
mftool~=2.9
pytz~=2025.2
uuid~=1.30
websocket-client~=1.8.0
certifi~=2025.4.26
bs4~=0.0.2
beautifulsoup4~=4.13.4
psycopg2-binary~=2.9
jugaad-data
bcrypt~=4.1.3
